<div class="container mt-5">
  <%= simple_form_for earning_rule do |f| %>
    <div class="row">
      <div class="col-sm-8 mb-3">
        <div class="card border-secondary">
          <div class="card-body">
            <h5 class="card-title"><%= t('earning_rule_page.form.name_heading') %></h5>
            <div class="form-inputs">
              <%= f.input :name %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 d-none d-md-block">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= t('earning_rule_page.form.hint_heading') %></h5>
            <p class="card-text"><%= t('earning_rule_page.form.hint_text') %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= t('earning_rule_page.form.point_heading') %></h5>
            <div class="form-inputs">
              <%= f.input :point %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= t('earning_rule_page.form.checkbox_heading') %></h5>
            <div class="form-inputs">
              <%= f.check_box :status, as: :boolean, checked_value: true, unchecked_value: false %>
              <span><%= t('earning_rule_page.form.checkbox_text') %></span>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          <p><%= t('earning_rule_page.form.muted_text') %></p>
        </div>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-6"></div>
      <div class="col-6">
        <div class="mb-3">
          <div class="form-actions">
            <%= f.button :submit, class: 'btn btn-info btn-sm float-right ml-auto' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
