<% content_for :javascript do %>
  <script type="text/javascript">
      ShopifyApp.ready(function(){
          ShopifyApp.Bar.initialize({ title: "Home" });
      });
  </script>
<% end %>

<%= render 'shared/home_banner_section' %>

<!--<p id="notice"><%#= notice %></p>-->
<section>
  <div class="container">
    <%= flash_messages_for(@earning_rule) %>
  </div>

  <div class="container" id="new-clock-entry">
    <%= link_to 'Add earning rule', new_earning_rule_path, remote: true, class: '#' %>
  </div>

  <br>

  <div class="container">
    <h4 class="active-event-title">
      <%= t('earning_rule_page.table_heading.title') %>
    </h4>

    <table class="table table-bordered table-hover" id="clock-entry">
      <thead>
        <tr>
          <th>Name</th>
          <th>Point</th>
          <th>Status</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <%= render @earning_rules %>
      </tbody>
    </table>
  </div>

</section>