<% content_for :javascript do %>
  <script type="text/javascript">
      ShopifyApp.ready(function(){
          ShopifyApp.Bar.initialize({ title: "Customer Details" });
      });
  </script>
<% end %>

<div class="container">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t('customer_details_page.index_page.first_name') %></th>
        <th><%= t('customer_details_page.index_page.last_name') %></th>
        <th><%= t('customer_details_page.index_page.email') %></th>
        <th><%= t('customer_details_page.index_page.point_balance') %></th>
      </tr>
    </thead>

    <tbody>
      <%= render @customer_details %>
    </tbody>
  </table>
</div>